@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	14;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */




.general-onwhite{
    border-width: 1px;
    border-style: solid;
    border-color: #0f9e4c;
    background: transparent;
    float: right;
    color: #0f9e4c;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 700;
    font-size: .8em;
}


.general-oncolor{
    border-width: 0px;
    border-style: solid;
    border-color: #0f9e4c;
    background: #0f9e4c;
    float: left;
    color: #fff;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 300;
    font-size: .8em;
}

    
}
	
	


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
	
	
	
	
	
	

	
	
	
}





/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	

    

.general-onwhite{
    border-width: 1px;
    border-style: solid;
    border-color: #0f9e4c;
    background: transparent;
    float: right;
    color: #0f9e4c;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 700;
    font-size: .8em;
}


.general-oncolor{
    border-width: 0px;
    border-style: solid;
    border-color: #0f9e4c;
    background: #0f9e4c;
    float: left;
    color: #fff;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 300;
    font-size: .8em;
}

    
    
    
    
    
}

/* Desktop Layout: 769px to a max of 1080px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1080px) {
	

.general-onwhite{
    border-width: 1px;
    border-style: solid;
    border-color: #0f9e4c;
    background: transparent;
    float: right;
    color: #0f9e4c;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 700;
    font-size: .9em;
}


.general-oncolor{
    border-width: 0px;
    border-style: solid;
    border-color: #0f9e4c;
    background: #0f9e4c;
    float: left;
    color: #fff;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 300;
    font-size: .9em;
}

    
    
    
    
    
    
    
}
    
    
 /* Desktop Layout:1080px to a max of 1440px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1440px) {
	

.general-onwhite{
    border-width: 2px;
    border-style: solid;
    border-color: #0f9e4c;
    background: transparent;
    float: right;
    color: #0f9e4c;
    padding: .7em 1.4em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 700;
    font-size: 1em;
}


.general-oncolor{
    border-width: 0px;
    border-style: solid;
    border-color: #0f9e4c;
    background: #0f9e4c;
    float: left;
    color: #fff;
    padding: 1em 2em;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    margin-top: 2em;
    font-weight: 300;
    font-size: 1em;
}

    
    
    
    
    
    
    
    
}


    
/* Desktop Layout: 1440px to a max of 1920px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 1920px) {

    
    
    
    
    
    
    
    
}



/* Desktop Layout: 1920px to a max of 2400px.  Inherits styles from: Mobile Layout and Tablet Layout. */
@media only screen and (min-width: 2400px) {
	

    
    
    
    
    
    
    
    
		
}