@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	14;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */



    
    

.mobile-navigation{
    width: 100vw;
    height: 10vh;
    display: block;
    float: left;
    clear: none;
    background-color: white;
    position: fixed;
    z-index: 10000;
    top: -.1em;
    left: 0;
     -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=0, Color=#000000)";/*IE 8*/
-moz-box-shadow: 0 7px 14px -8px rgba(0,0,0,0.2);/*FF 3.5+*/
-webkit-box-shadow: 0 7px 14px -8px rgba(0,0,0,0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 7px 14px -8px rgba(0,0,0,0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=14, Direction=135, Color=#000000); /*IE 5.5-7*/
}
	


.mn-logo{
    float: left;
    clear: none;
    width: 60%;
    height: 80%;
    position: relative;
    top: 7%;
    left: 5%;
    display: block;
    background-image: url("../img/logo/phdc-logo_colored.svg");
   background-repeat: no-repeat;
    background-size: contain;
}




#nav-menu {
  position: relative;
  width: 30px;
  cursor: pointer;
  height: 40px;
  z-index: 5;
    float: right;
    margin: 3% 5%;

}

.icon-bar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: #0f9e4c;
  margin: auto;
  transition: all 0.5s ease;
}
.icon-bar::before, .icon-bar::after {
  position: absolute;
  background: #0f9e4c;
  top: 0;
  left: 0;
  content: "";
  height: 3px;
  width: 100%;
  transition: all 0.3s ease;
}
.icon-bar::before {
  top: -10px;
  transition: all 0.3s ease;
}
.icon-bar::after {
  top: 10px;
  transition: all 0.3s ease;
}

.icon-bar.active {
  background: transparent;
  transition: all 0.1s ease;
}
.icon-bar.active::before {
  top: 0;
  transform: rotate(45deg);
  transition: all 0.3s ease;
}
.icon-bar.active::after {
  top: 0;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
}















    .navigation-panel{
        position: fixed;
        top: 5vh;
        left: 0;
        z-index: 1000;
        background-color: white;
        width: 100vw;
        height: 95vh;

    }
    
     .navigation-panel-alt{
         position: fixed;
        top: 5vh;
        left: 0;
        z-index: 1000;
        background-color: white;
        width: 100vw;
        height: 95vh;
    }
	
    
    .nav-bar{
        position: absolute;
        top: 5vh;
        left:5vw;
        width: 90vw;
        height: auto;
        background-color: white;
        z-index: 100;
    }
		
    
    
    .color-icon{
        width:50vw;
        height: 3px;
        position: absolute;
        top: 0;
        left: 5%;
        display: block;
        float: left;
        clear: none;
    }

    
    .color-icon span{
        width: 25%;
        height: 100%;
        display: block;
        float: left;
        clear: none;
    }
    
    
    .color-icon span:first-of-type{
        background-color: #242f64;
    }
    .color-icon span:nth-of-type(2n){
        background-color: #e92a37;
    }
    .color-icon span:nth-of-type(3n){
        background-color: #ffd129;
    }
     .color-icon span:nth-of-type(4n){
        background-color: #0f9e4c;
    }
    
    
    
    
    .nav-logo{
        width: 0;
        height: 0;
        display: none;
        float: left;
        clear: none;
        background-image: url("../img/logo/phdc-logo_colored.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 2vh 0 2vh 5%;
    }
    
    .nav-list{
        width: 80%;
        height: auto;
        display: block;
        float: left;
        clear: none;
        margin-right: 10%;
    }
    
    
    .nl-top{
        display: block;
        float: left;
        clear: none;
        height: auto;
        width: 100%;
        border-bottom: solid 0px;
        border-bottom-color: #A3A3A3;
        padding-bottom:0;
    }
    
    .nl-top ul{
        width: auto;
        display: block;
        float: right;
        clear: none;
        list-style: none;
           bottom: 0;
        margin-top: 10vh;
        position: relative;
        
    }
    
    .nl-top ul li{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        margin-right: 2em;
        font-size: 1.5em;
        cursor: pointer;
        letter-spacing: 1px;
        color: #2c3a41;
        width: 70%;
        position: relative;
        bottom: 0;
            display: block;
      padding-bottom:2.6vh;
      background-image: linear-gradient(#0f9e4c, #0f9e4c);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 3px;
      background-repeat: no-repeat;
      transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
        line-height: 1.6em;
        margin-left: 10%;
    }
    
    
    
    .nl-top ul li:hover{
     background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 2px;
    }
    
   
    
    
    
    .active{
        height: 2px;
        position: absolute;
        bottom: 0%;
        width: 140%;
        left: -20%;
        display: block;
        float: left;
        background-color: #0f9e4c;
    }
    
    
    
    
    
    
    
    
    
    

    
    
    
    
     .nl-bottom{
        display: none;
        float: left;
        clear: none;
        height: auto;
        width: 100%;
            
    }
    
     .nl-bottom ul{
        width: auto;
        display: block;
        float: right;
        clear: none;
        list-style: none;
        bottom: 0;
        margin-top: 2vh;
        position: relative;
         
        
    }
    
    .nl-bottom ul li{
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-right: 2em;
        font-size: 1.5em;
        cursor: pointer;
        letter-spacing: 0px;
        color: #606060;
        position: relative;
        bottom: 0;
        transition: all .4s;
    }
    
    .nl-bottom ul li:hover{
        color: #0f9e4c;
    }
    
    
    .nl-bottom ul li i{
        font-size: 1.6em;
        position: relative;
        bottom: -.1em
    }
    
    
    
    
    
    .guide{
         color: #2c3a41;
        font-weight: 700;
        display: inline;
        font-family: 'Montserrat', sans-serif;
        margin-right: 2em;
        border-width: 1px;
        border-style: solid;
        border-color: #0f9e4c;
        padding: .5em 1em;
        cursor: pointer;
        width: 100%;
        clear: both;
        font-size: 1.3em;
    }
    
    
    .guide span{
        font-style: italic;
        color: #606060;
        margin-right: 1em;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: .3px;
        display: none;
    }
    
    .guide i{
        color:#0f9e4c;
        padding-left: 1em;
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: #0f9e4c;
        transition: .2s all; 
        display: none;
    }
    
    .guide:hover .fa-chevron-right{
        transform: rotate(90deg);
        border-width: 0 0 0 0;
 
    }
    
    
    
    

    
    
    
    
    .nav-popup{
        position: absolute;
        top: 0vh;
        left:0vw;
        width: 100vw;
        height: 100%;
        background-color: #eaeef4;
        z-index: 100000;
        display: none;
    }
    
    
    .subnav-au{
        display: none;
        z-index: 0;
    }
    
    .subnav-rf{
        display: none;
        z-index: 10;
    }
    
     .subnav-m{
        display: none;
         z-index: 20;
    }
    
    .subnav-gti{
        display: none;
         z-index: 30;
        background-color: #0f9e4c;

    }
    
    
    
    
    
    
    .subnav{
        width: 100%;
        height: 100%;
        float: left;
        clear: none;
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    
    
    .subnav-bigtext{
        position: absolute;
          text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000;
        font-family: "Bignoodletitling";
        color: #eaeef4;
        font-size: 15em;
        top:0vh;
        left: 0vw;
        width: 30vw;
        line-height: .8em;
        padding: 0;
        margin: 0;
        opacity: .1;
        z-index: 0;
    }
    
    
    .subnav-nav{
        width: 80vw;
        height: auto;
        top: 10vh;
        left: 10vw;
        position: absolute;
        z-index: 100;
    }

    
    .subnav-nav .fa-times-circle{
        font-size: 2.5em;
        position: absolute;
        top: 3%;
        right: 5vw;
        display: block;
        float: right;
        cursor: pointer;
    }
    
    
    .sn-pic{
        height: 0vh;
        width: 100%;
        display: block;
        clear: both;
        background-position: center;
        background-size: cover;
    }
    
    .abouttitlepic{
        background-image: url("../img/aboutus.jpg");
    }
    
    .regulatorytitlepic{
        background-image: url("../img/aboutus.jpg");
    }
    
    .mediatitlepic{
        background-image: url("../img/aboutus.jpg");
    }
    
    
    
    
    
    .sn-title{
        width: 100%;
        height: auto;
        display: block;
        float: left;
        clear: none;
    }
    
    
    .sn-title h4{
        font-family: "Bignoodletitling";
        font-size: 3em;
        font-weight: 300;
        margin: .2em;
        padding: 0;
        color: #242f64;
         width: 70%;
    }
    
    
    .sn-title p{
        font-family: 'Montserrat', sans-serif;
        line-height: 1.2em;
        font-size: .9em;
        letter-spacing: .5px;
        font-weight: 400;
        margin: 1em 0 5vh 0;
    }
    
    
    
    
    
    .sn-list{
        width:90%;
        height: 100%;
        display: block;
        float: left;
        clear: none;
        padding: 0 2%;
    }
    
    
    .sn-list ul{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: #2c3a41;
        font-weight: 700;
        font-size: 1.3em;
        line-height: 1.5em;
    }
    
    
    .sn-list li{
        width: 100%;
        padding: 1% 3%;
        cursor: pointer;
        opacity: .7;
        position: relative;
          background-image: linear-gradient(#0f9e4c, #0f9e4c);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.5s,
        background-position 0s 0.5s; /*change after the size immediately*/
    }
    
    
    
    .sn-list li:hover{
     background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
        opacity: 1;
    }
    
    
    
     
    .togglesublist i{
        color:#0f9e4c;
      position: absolute;
        right: 10%;
        opacity: 0;
        transition: .4s all;
        transition-delay: .2s;
    }
    
    .togglesublist:hover i{
        right: 0%;
        opacity: 100%;
    }
    
    
    
    .sn-sublist{
        width: 100%;
        float: left;
        clear: none;
        display: block;
        height: auto;
        margin: 3vh 0%;
    }
    
    
    .sn-sublist ul{
          list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: #2c3a41;
        font-weight: 700;
        font-size: .9em;
        line-height: 2.5em;
        letter-spacing: 1.7px;
        
    }
    
    
    .sublist  li{
         border-width: 0 0 1px 0;
        border-style: solid;
        border-color:rgba(167,167,167,1.00);
        width: auto;
        padding: .4em;
        cursor: pointer;
        opacity: .7;
          background-image: linear-gradient(#0f9e4c, #0f9e4c);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.5s,
        background-position 0s 0.5s; /*change after the size immediately*/
        
    }
    
    
    
    .sublist li:hover{
            background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
        opacity: 1;
    }
    
    
    
    .guide-pane{
        height: 10vh;
        width: 80vw;
        background-color: #0f9e4c;
        margin-left: 10vw;
        margin-top: 18vh;
        display: none;
    }
    
    
    .gti-list ul{
              list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: .9em;
        line-height: 2.5em;
        letter-spacing: 1.7px;
        text-align: center;
        margin-top: 1em;
    }
    
    
     .gti-list li{
         display: inline;
         border-width: 0 0 1px 0;
        border-style: solid;
        border-color:rgba(167,167,167,1.00);
        width: auto;
        padding: .4em;
        cursor: pointer;
        opacity: .7;
          background-image: linear-gradient(#fff, #fff);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.5s,
        background-position 0s 0.5s; /*change after the size immediately*/
         margin-right: 3em;
    }
    
    .gti-list li:hover{
            background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
        opacity: 1;
    }
    
    
        

    
    
    
    .popupteam{display: none}
    
    .popupnews{display: none}
    
    .popupeye{display: none}
    
    .popupdata{display: none}
    
    .popupgti{display: none}
    
    .popupoperations{display: none;}
    
    
    
    
        .desktop{
        display: none;
    }
	
    .mobile{
        display: block;
    }




}

























/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
	
	    
        .desktop{
        display: none;
    }
	
    .mobile{
        display: block;
    }

	
	
	

	
	
	
}



/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
    
    
    .desktop{
        display: block;
    }
	
    .mobile{
        display: none;
    }
    
    
    
    
    
    .navigation-panel{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        z-index: 100000;
           background-color: transparent;
        width: auto;
        height: auto;

    }
    
     .navigation-panel-alt{
        position: fixed;
        top: -5vh;
        left: 0;
        display: block;
        z-index: 100000;
    }
	
    
    .nav-bar{
        position: absolute;
        top: 5vh;
        left:10vw;
        width: 80vw;
        height: auto;
        background-color: white;
        z-index: 100;
    }
		
    
    
    .color-icon{
        width:20vw;
        height: 3px;
        position: absolute;
        top: 0;
        left: 5%;
        display: block;
        float: left;
        clear: none;
    }
    
    .color-icon span{
        width: 25%;
        height: 100%;
        display: block;
        float: left;
        clear: none;
    }
    
    
    .color-icon span:first-of-type{
        background-color: #242f64;
    }
    .color-icon span:nth-of-type(2n){
        background-color: #e92a37;
    }
    .color-icon span:nth-of-type(3n){
        background-color: #ffd129;
    }
     .color-icon span:nth-of-type(4n){
        background-color: #0f9e4c;
    }
    
    
    
    
    .nav-logo{
        width: 20%;
        height: 10vh;
        display: block;
        float: left;
        clear: none;
        background-image: url("../img/logo/phdc-logo_colored.svg");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        margin: 2vh 0 2vh 5%;
    }
    
    .nav-list{
        width: 70%;
        height: 10vh;
        display: block;
        float: left;
        clear: none;
        margin-right: 5%;
    }
    
    
    .nl-top{
        display: block;
        float: left;
        clear: none;
        height: 7vh;
        width: 100%;
        border-bottom: solid 1px;
        border-bottom-color: #A3A3A3;
        padding-bottom:0;
    }
    
    .nl-top ul{
        width: auto;
        display: block;
        float: right;
        clear: none;
        list-style: none;
           bottom: 0;
        margin-top: 2.5vh;
        position: relative;
        
    }
    
    .nl-top ul li{
        display: inline;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-right: 2em;
        font-size: .8em;
        cursor: pointer;
        letter-spacing: 1px;
        color: #2c3a41;
        position: relative;
        width: auto;
        bottom: 0;
            display: inline-block;
      padding-bottom:2.6vh;
      background-image: linear-gradient(#0f9e4c, #0f9e4c);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 3px;
      background-repeat: no-repeat;
      transition:
        background-size 0.3s,
        background-position 0s 0.3s; /*change after the size immediately*/
        margin-left: auto;
    }
    
    
    
    .nl-top ul li:hover{
     background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 2px;
    }
    
   
    
    
    
    .active{
        height: 2px;
        position: absolute;
        bottom: 0%;
        width: 140%;
        left: -20%;
        display: block;
        float: left;
        background-color: #0f9e4c;
    }
    
    
    
    
    
    
    
    
    
    

    
    
    
    
     .nl-bottom{
        display: block;
        float: left;
        clear: none;
        height: 7vh;
        width: 100%;
            
    }
    
     .nl-bottom ul{
        width: auto;
        display: block;
        float: right;
        clear: none;
        list-style: none;
           bottom: 0;
        margin-top: 2vh;
        position: relative;
        
    }
    
    .nl-bottom ul li{
        display: inline;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin-right: 2em;
        font-size: .9em;
        cursor: pointer;
        letter-spacing: 0px;
        color: #606060;
        position: relative;
        bottom: 0;
        transition: all .4s;
    }
    
    .nl-bottom ul li:hover{
        color: #0f9e4c;
    }
    
    
    .nl-bottom ul li i{
        font-size: 1.6em;
        position: relative;
        bottom: -.1em
    }
    
    
    
    
    
    .guide{
         color: #2c3a41;
        font-weight: 700;
        display: inline;
        font-family: 'Montserrat', sans-serif;
        margin-right: 2em;
        border-width: 1px;
        border-style: solid;
        border-color: #0f9e4c;
        padding: .5em 1em;
        cursor: pointer;
          width: auto;
        clear:none;
         font-size: inherit;
    }
    
    
    .guide span{
        font-style: italic;
        color: #606060;
        margin-right: 1em;
        font-weight: 400;
        font-size: .9em;
        letter-spacing: .3px;
        display: inline;
        
    }
    
    .guide i{
        color:#0f9e4c;
        padding-left: 1em;
        border-width: 0 0 0 1px;
        border-style: solid;
        border-color: #0f9e4c;
        transition: .2s all; 
        display: inline-block;
    }
    
    .guide:hover .fa-chevron-right{
        transform: rotate(90deg);
        border-width: 0 0 0 0;
 
    }
    
    
    
    

    
    
    
    
    .nav-popup{
        position: absolute;
        top: 0vh;
        left:0vw;
        width: 100vw;
        height: 55vh;
        background-color: #eaeef4;
        z-index: 0;
        display: none;
    }
    
    
    .subnav-au{
        display: none;
        z-index: 0;
    }
    
    .subnav-rf{
        display: none;
        z-index: 10;
    }
    
     .subnav-m{
        display: none;
         z-index: 20;
    }
    
    .subnav-gti{
        display: none;
         z-index: 30;
        background-color: #0f9e4c;

    }
    
    
    
    
    
    
    .subnav{
        width: 100%;
        height: 100%;
        float: left;
        clear: none;
        display: block;
        position: absolute;
        margin: 0;
        padding: 0;
    }
    
    
    .subnav-bigtext{
        position: absolute;
          text-shadow: -.5px -.5px 0 #000, .5px -.5px 0 #000, -.5px .5px 0 #000, .5px .5px 0 #000;
        font-family: "Bignoodletitling";
        color: #eaeef4;
        font-size: 15em;
        top:0vh;
        left: 0vw;
        width: 30vw;
        line-height: .8em;
        padding: 0;
        margin: 0;
        opacity: .1;
        z-index: 0;
    }
    
    
    .subnav-nav{
        width: 80vw;
        height: 35vh;
        top: 20vh;
        left: 10vw;
        position: absolute;
        z-index: 100;
    }
    
    .subnav-nav .fa-times-circle{
        display: none;
    }
    
    .sn-pic{
        height: 10vh;
        width: 100%;
        display: block;
        clear: both;
        background-position: center;
        background-size: cover;
    }
    
    .abouttitlepic{
        background-image: url("../img/aboutus.jpg");
    }
    
    .regulatorytitlepic{
        background-image: url("../img/aboutus.jpg");
    }
    
    .mediatitlepic{
        background-image: url("../img/aboutus.jpg");
    }
    
    
    
    
    
    .sn-title{
        width: 20%;
        height: auto;
        display: block;
        float: left;
        clear: none;
    }
    
    
    .sn-title h4{
        font-family: "Bignoodletitling";
        font-size: 3em;
        font-weight: 300;
        margin: .2em;
        padding: 0;
        color: #242f64;
          width: auto;
    }
    
    
    .sn-title p{
        font-family: 'Montserrat', sans-serif;
        line-height: 1.2em;
        font-size: .8em;
        letter-spacing: .5px;
         margin: auto;
    }
    
    
    
    
    
    .sn-list{
             width:30%;
        height: 100%;
        display: block;
        float: left;
        clear: none;
        padding: 0 2%;
    }
    
    
    .sn-list ul{
        list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: #2c3a41;
        font-weight: 700;
        font-size: 1.3em;
        line-height: 1.5em;
    }
    
    
    .sn-list li{
        width: 100%;
        padding: 1% 3%;
        cursor: pointer;
        opacity: .7;
        position: relative;
          background-image: linear-gradient(#0f9e4c, #0f9e4c);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.5s,
        background-position 0s 0.5s; /*change after the size immediately*/
    }
    
    
    
    .sn-list li:hover{
     background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
        opacity: 1;
    }
    
    
    
     
    .togglesublist i{
        color:#0f9e4c;
      position: absolute;
        right: 10%;
        opacity: 0;
        transition: .4s all;
        transition-delay: .2s;
    }
    
    .togglesublist:hover i{
        right: 0%;
        opacity: 100%;
    }
    
    
    
    .sn-sublist{
        width: 40%;
        float: left;
        clear: none;
        display: block;
        height: auto;
        margin: 0%;
    }
    
    
    .sn-sublist ul{
          list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: #2c3a41;
        font-weight: 700;
        font-size: .9em;
        line-height: 2.5em;
        letter-spacing: 1.7px;
        
    }
    
    
    .sublist  li{
         border-width: 0 0 1px 0;
        border-style: solid;
        border-color:rgba(167,167,167,1.00);
        width: auto;
        padding: .4em;
        cursor: pointer;
        opacity: .7;
          background-image: linear-gradient(#0f9e4c, #0f9e4c);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.5s,
        background-position 0s 0.5s; /*change after the size immediately*/
        
    }
    
    
    
    .sublist li:hover{
            background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
        opacity: 1;
    }
    
    
    
    .guide-pane{
        height: 10vh;
        width: 80vw;
        background-color: #0f9e4c;
        margin-left: 10vw;
        margin-top: 18vh;
        display: none;
    }
    
    
    .gti-list ul{
              list-style: none;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
        font-weight: 700;
        font-size: .9em;
        line-height: 2.5em;
        letter-spacing: 1.7px;
        text-align: center;
        margin-top: 1em;
    }
    
    
     .gti-list li{
         display: inline;
         border-width: 0 0 1px 0;
        border-style: solid;
        border-color:rgba(167,167,167,1.00);
        width: auto;
        padding: .4em;
        cursor: pointer;
        opacity: .7;
          background-image: linear-gradient(#fff, #fff);
      background-position: 0 100%; /*OR bottom left*/
      background-size: 0% 1px;
      background-repeat: no-repeat;
      transition:
        background-size 0.5s,
        background-position 0s 0.5s; /*change after the size immediately*/
         margin-right: 3em;
    }
    
    .gti-list li:hover{
            background-position: 100% 100%; /*OR bottom right*/
      background-size: 100% 1px;
        opacity: 1;
    }
    
    
        

    
    
    
    .popupteam{display: none}
    
    .popupnews{display: none}
    
    .popupeye{display: none}
    
    .popupdata{display: none}
    
    .popupgti{display: none}
    
    .popupoperations{display: none;}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}