@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		6;
	dw-num-cols-tablet:		10;
	dw-num-cols-desktop:	14;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */



    
    .newsitem{
        width: 90%;
        height: auto;
        display: block;
        float: left;
        clear: none;
        cursor: pointer;
        position: relative;
        z-index: 0;
        overflow: visible;
        background-color: white;
        transition: all .4s;
        margin: 1vh 5%;
    }
    
    .newsitem:hover{
        opacity: .8;
        z-index: 50;
    }

    
    
    .nt-image{
        height: 15vh;
        width: 100%;
        float: left;
        clear: none;
        margin: 0 0 2em 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .ni-text{
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: none;
        width: 100%;
        height: auto;
        padding: 0%;
        transition: all .4s;
        margin: 0;
        display: block;
        float: left;
        clear: both;
    }
    
    
    .newsitem:hover .ni-text{
      position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        background-color: none;
        width: 100%;
        height: auto;
        padding: 2%;
        transition: all .4s;
        margin: 0;
        display: block;
        float: left;
        clear: both;
    }
    

   .type{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        float: left;
        clear: none;
    }
    
    
    .date{
        font-family: 'Montserrat', sans-serif;
        font-size: .8em;
        float: right;
        clear: none;
    }
    
    
    .ni-text .title{
        clear: both;
        font-family: 'Montserrat', sans-serif;
        color: #2c3a41;
        font-weight: 700;
        font-size: 1.5em;
        margin: 2em 0 .5em;
    }
    
    
    
    .snippet{
        font-size: .9em;
        line-height: 1.2em;
        font-family: 'Montserrat', sans-serif;
        display: block;
    }
    
    
    
	
	


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
	
	
	
	
	
	
	

	
	
	
}



/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
	
    
    
    
    .newsitem{
        width: 24%;
        height: auto;
        display: block;
        float: left;
        clear: none;
        cursor: pointer;
        position: relative;
        z-index: 0;
        overflow: visible;
        background-color: white;
        transition: all .4s;
        margin: 1vh .5%;
    }
    
    .newsitem:hover{
        opacity: .8;
        z-index: 50;
    }

    
    
    .nt-image{
        height: 15vh;
        width: 100%;
        float: left;
        clear: none;
        margin: 0 0 2em 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    
    .ni-text{
        position: relative;
        top: 0;
        left: 0;
        z-index: 0;
        background-color: none;
        width: 100%;
        height: auto;
        padding: 5%;
        transition: all .4s;
        margin: 0;
        display: block;
        float: left;
        clear: both;
    }
    
    
    .newsitem:hover .ni-text{
      position: relative;
        top: 0;
        left: 0;
        z-index: 50;
        background-color: none;
        width: 100%;
        height: auto;
        padding: 5%;
        transition: all .4s;
        margin: 0;
        display: block;
        float: left;
        clear: both;
    }
    

   .type{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        float: left;
        clear: none;
    }
    
    
    .date{
        font-family: 'Montserrat', sans-serif;
        font-size: .8em;
        float: right;
        clear: none;
    }
    
    
    .ni-text .title{
        clear: both;
        font-family: 'Montserrat', sans-serif;
        color: #2c3a41;
        font-weight: 700;
        font-size: 1.5em;
        margin: 2em 0 .5em;
    }
    
    
    
    .snippet{
        font-size: .9em;
        line-height: 1.2em;
        font-family: 'Montserrat', sans-serif;
        display: block;
    }
    
    
    
    
    
    
    
    
    
    
    
    
		
}